/* RESET - thanks - https: //piccalil.li/blog/a-modern-css-reset/ */
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	user-select: none;
	interpolate-size: allow-keywords;
}
* { font-family: var(--font-family); }

ul, ol { list-style: none; }

body {
	height: 100vh;
	line-height: 1.5;
}

img, picture, label {
	max-width: 100%;
	display: block;
}

@media (prefers-reduced-motion: reduce) {
	html:focus-within { scroll-behavior: auto; }

	*, *::before, *::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* THEMES */
body {
	--font-family: custom-font, system-ui;

	--background: #000;
	--background-transparent: #00000020;
	--foreground: #FFF;
	--foreground-secondary: #828282; /* gray3 */
	--border-color: #444; /* gray2: 4F4F4F */
	--selection-background: #222;

	background: var(--background);
	opacity: 0;
	transition: opacity .75s;
}

body[theme="light"] {
	--background: #FFF;
	--background-transparent: #FFFFFF20;
	--foreground: #111;
	--foreground-secondary: #444;
	--border-color: #AAA;
	--selection-background: #BBB;
}
body[ready="true"] { opacity: 1; }
body.theme-changing * { transition: .3s ease-in-out !important; }

/* ATOMICS */
.flex-row { display: flex; }

separator {
	display: block;
	width: var(--separator-width, 1px);
	height: var(--separator-height, 12px);
	background: var(--separator-background, var(--border-color));
}

button {
	border: none;
	color: var(--foreground-secondary);
	background: transparent;
	transition: color .5s, background .6s ease-in, border-color .3s, opacity .2s, translate .2s;
}
button:active {
	background: var(--selection-background);
	transition: color .5s, background .3s, border-color .3s, opacity .2s, translate .2s;
}

.ic-btn {
	display: grid;
	justify-items: center;
	min-width: var(--button-width, 48px);
	aspect-ratio: 1;
	border-radius: 12px;
	font-size: 24px;
}

input[type="range"] {
	appearance: none;
	width: 100%;
	height: var(--range-height, 80px);
	border: var(--range-border-width, 2px) solid var(--range-border-color, var(--border-color));
	border-radius: var(--range-border-radius, 12px);
	background: var(--range-background, transparent);
	overflow: hidden;
}
input[type="range"]::-webkit-slider-thumb {
	appearance: none;
	height: var(--range-height, 80px);
	width: 0;
	box-shadow: -100vw 0 0 100vw var(--range-progress-background, var(--border-color));
}

button, select, input { outline: none; }

@property --bg-y {
	syntax: '<percentage>';
	inherits: false;
	initial-value: 85%;
}

.main-character {
	position: absolute;
	inset: 0 50% auto auto;
	width: 56px;
	padding: 0;
	translate: 50% -50%;

	svg {
		translate: calc(-50% + 28px) -1px;
		mask-image: linear-gradient(90deg, transparent 10%, var(--background) 40%, var(--background) 60%, transparent 90%);
		pointer-events: none;
	}

	path {
		transition: .4s ease-in;
		&#pause-path { stroke-dasharray: 107; }
		&#play-path { stroke-dasharray: 104; }
	}

	&::after {
		content: '';
		position: absolute;
		inset: 0;
		border-radius: 50px;
		border: 1px solid var(--border-color);
		background: radial-gradient(30% 70% ellipse at 45% var(--bg-y), transparent 50%, 160%, var(--foreground-secondary) 190%);
		animation: move-y 3s ease-in-out infinite alternate;
		transition: .3s;
	}

	&:active { background: transparent; }
	&:active::after {
		filter: drop-shadow(0 2px 8px var(--foreground));
	}
}

@keyframes move-y {
  from { --bg-y: 0%; }
  to { --bg-y: 80%; }
}