music-permissions {

	position: fixed;
	inset: 0;
	align-items: center;
	justify-content: center;
	background: var(--background);
	z-index: 3;

	display: none;

	p {
		color: var(--foreground-secondary);
		line-height: 1.2rem;
		text-align: center;

		strong {
			color: var(--foreground);
			font-weight: 600;
		}
	}

	button.ic-btn {
		position: fixed;
		inset: auto auto 32px 50%;
		width: 72px;
		translate: -50% 0;
		color: var(--foreground);
	}
}

[mode="permission"] music-permissions { display: flex; }