/* GENERAL LAYOUT */
music-header {
	position: fixed;
	inset: calc(var(--inset-top, 4px) + 8px) 12px auto;
	display: grid;
	border: 1px solid var(--border-color);
	border-radius: 12px;
	transition: .2s;
	z-index: 1;
}
#breadcrumb-bar, #toolbar {
	grid-area: 1 / 1;
	display: flex;
	align-items: center;
	opacity: 1;
	transition: .2s, display .2s allow-discrete;
}
body:not([mode="normal"]) music-header {
	inset-inline: 0;
	border-color: transparent transparent var(--border-color) transparent;
	border-radius: 0;
}

/* STATE */
[mode="normal"] #toolbar,
body:not([mode="normal"]) #breadcrumb-bar {
	display: none;
	opacity: 0;
}

@starting-style {
	[mode="normal"] #breadcrumb-bar,
	body:not([mode="normal"]) #toolbar {
		opacity: 0;
	}

	#select-count, #select-add-button, #select-play-button { opacity: 0; }
}

body[mode="select"] #search-input { max-width: 0; }
body:not(:is([mode="select"], [mode="searchSelect"])) {
	#select-count, #select-add-button, #select-play-button { display: none; opacity: 0; }
}

/* STYLES */
music-header {

	color: var(--foreground-secondary);

	/* BREADCRUMBS */
	#breadcrumb-bar { overflow: hidden; }
	#crumbs {
		display: flex;
		padding-right: 12px;
		overflow-x: auto;
		scroll-behavior: smooth;

		button {
			padding: 8px 4px 8px 10px;
			border-radius: 6px;
			font-size: 14px;
			flex-shrink: 0;
		}

		button:first-child {
			padding-left: 4px;
			pointer-events: none;
		}
		button:last-child {
			color: var(--foreground);
			font-weight: bold;
			pointer-events: none;
		}

		button:not(:last-child)::after {
			content: '/';
			margin-left: 12px;
			font-weight: 400;
		}
	}
	#crumbs::-webkit-scrollbar {
		width: 0;
		height: 0;
	}

	/* SEARCH + SELECT */
	#toolbar {
		input {
			flex-grow: 1;
			max-width: 100%;
			padding: 8px 0;
			border: none;
			outline: none;
			color: var(--foreground);
			background: transparent;
			transition: max-width .2s;
		}
		input::-webkit-search-cancel-button { display: none; }
	}

	#select-count { margin-inline-end: 16px; }
	#select-count, #select-add-button, #select-play-button { transition: display .2s allow-discrete, opacity .2s, background .8s; }
	#select-add-button { margin-inline-start: auto; }
}
