music-controls {
	position: fixed;
	inset: auto 0 var(--inset-bottom, 0px);
}

#album-art {
	position: fixed;
	inset: 0 auto auto 0;
	max-width: 100vw;
	max-height: 100vh;
	mask-image: radial-gradient(at 20% 0%, black 40%, transparent 70%);
	opacity: .25;
	z-index: 1;
	pointer-events: none;
	transition: opacity .3s;
}
#album-art:not([src]) { opacity: 0; }

.main-controls {
	position: relative;
	margin: 0 12px;

	#seek-range {
		--range-height: auto;
		--range-border-width: 0;
		--range-background: #33333380;
		--range-progress-background: #74747433;

		position: absolute;
		inset: 0;

		backdrop-filter: blur(16px);
	}

	#play-pause-button, #seek-current, #seek-duration, #chapters, #track-name, #track-album-artist {
		color: var(--foreground);
	}

	.seek-text-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px;
		pointer-events: none;
	}
	#seek-current { font: 600 .8rem / .8rem system-ui; }
	#seek-duration { font: 400 .8rem / .8rem system-ui; }

	#track-name {
		position: relative;
		padding: 4px;
		text-align: center;
		font: 400 1rem / 1rem system-ui;
		animation: .8s switch .1s forwards;

		pointer-events: none;
	}
	#track-album-artist {
		position: relative;
		padding: 4px 0 12px;
		text-align: center;
		color: var(--foreground-secondary);
		font: 400 .8rem / .8rem system-ui;
		animation: .8s switch .2s forwards;

		pointer-events: none;
	}
}

@keyframes switch {
	35% { translate: 15% 0; opacity: 0; }
	65% { translate: 15% 0; opacity: 0; }
	66% { translate: -15% 0; opacity: 0; }
	100% {opacity: 1; }
}

.secondary-controls {
	display: flex;
	justify-content: space-between;
	margin: 4px 12px;

	.ic-close { color: red; }
}
