music-controls {
	--range-height: auto;
	--range-border-width: 0;
	--range-background: #44444460;
	--range-progress-background: #74747433;
}

body[theme="light"] music-controls {
	--range-background: #99999980;
	--range-progress-background: #66666633;
}

music-controls {
	position: fixed;
	inset: auto 0 var(--inset-bottom, 0px);
	z-index: 2;
}

#album-art {
	position: fixed;
	inset: 0 auto auto 0;
	max-width: 100vw;
	max-height: 100vh;
	mask-image: radial-gradient(at 20% 0%, black 40%, transparent 70%);
	filter: grayscale();
	opacity: .3;
	pointer-events: none;
	transition: opacity .3s, filter .3s;
	z-index: 1;
}
#album-art.hidden, #album-art:not([src]) { opacity: 0; }
body[is-playing="true"] #album-art { filter: none; }

.main-controls {
	position: relative;
	margin: 0 12px;

	#seek-range {
		position: absolute;
		inset: 0;

		backdrop-filter: blur(16px);
	}

	#play-pause-button, #seek-current, #seek-duration, #track-name, #track-album-artist { color: var(--foreground); }

	.seek-text-container {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 12px;
		pointer-events: none;
	}
	#seek-current { font: 600 .8rem / .8rem system-ui; }
	#seek-duration { font: 400 .8rem / .8rem system-ui; }

	#chapters {
		position: relative;
        height: 5px;
        transition: .2s;
        pointer-events: none;
        margin-block: 4px 8px;
        opacity: .5;

		li {
			position: absolute;
			inset: 0 auto 0 auto;
			width: 1px;
			height: 100%;
			background: var(--foreground-secondary);
		}

		li span { display: block; }

		&:empty {
			height: 0;
			margin-block: 0;
		}
	}

	#track-name {
		position: relative;
		padding: 4px 24px;
		text-align: center;
		font: 400 1rem / 1rem system-ui;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		animation: .7s switch forwards;
		pointer-events: none;
	}
	#track-album-artist {
		position: relative;
		padding: 4px 24px 12px;
		text-align: center;
		color: var(--foreground-secondary);
		font: 400 .65rem / .65rem system-ui;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		animation: .7s switch .15s forwards;
		pointer-events: none;
	}
}

@keyframes switch {
	35% { translate: 15% 0; opacity: 0; }
	65% { translate: 15% 0; opacity: 0; }
	66% { translate: -15% 0; opacity: 0; }
	100% {opacity: 1; }
}

.secondary-controls {
	display: flex;
	justify-content: space-between;
	margin: 4px 12px;

	#customizable-controls { display: contents; }

	button {
		display: grid;
		align-content: center;
	}
	button::before, button::after {
		grid-area: 1 / 1;
		transition: translate .2s, opacity .2s;
	}

	/* close icon */
	button::after {
		content: '\e015';
		color: red;
		opacity: 0;
		translate: 0 10px;
	}

	[checked]::before {
		opacity: 0;
		translate: 0 -10px;
	}

	[checked]::after {
		opacity: 1;
		translate: 0;
	}

	button.selected { color: var(--foreground); }
}
.secondary-controls:has([checked]) button:not([checked]) {
	opacity: .5;
	pointer-events: none;
}
