<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools"
	package="mohsen.muhammad.minimalist"
	>

	<uses-feature android:name="android.hardware.screen.portrait"/>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />

	<application
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="false"
		android:requestLegacyExternalStorage="true"
		android:theme="@style/SplashTheme"
		>

		<activity
			android:name="mohsen.muhammad.minimalist.app.main.MainActivity"
			android:screenOrientation="portrait"
			android:launchMode="singleInstance"
			android:exported="true"
			tools:ignore="LockedOrientationActivity"
			>

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>

		</activity>

		<!--Playback Service-->
		<service android:name=".app.player.PlaybackManager" android:stopWithTask="true" android:exported="false" />

		<!--For the life of me I can't know why registering this receiver dynamically doesn't work!!!-->
		<receiver android:name=".app.notification.MediaNotificationManager$NotificationActionHandler" />

	</application>

</manifest>