<?xml version="1.0" encoding="utf-8"?>
<manifest
	xmlns:android="http://schemas.android.com/apk/res/android"
	package="mohsen.muhammad.minimalist"
	>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

	<application
		android:name=".app.MinimalistApplication"
		android:allowBackup="false"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/appName"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="false"
		android:theme="@style/SplashTheme"
		>

		<activity android:name="mohsen.muhammad.minimalist.app.main.MainActivity">

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

			<intent-filter>
				<action android:name="android.intent.action.VIEW" />
			</intent-filter>

		</activity>

		<service
			android:name=".app.player.PlayerService"
			android:stopWithTask="true"
			android:exported="false"
			/>

	</application>

</manifest>