<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">

	<uses-feature android:name="android.hardware.screen.portrait" android:required="false" />

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
	<uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />

	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<!-- no need for POST_NOTIFICATIONS...we're exempt -->

	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" /> <!-- equalizer -->

	<application
		android:allowBackup="true"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"

		android:label="@string/appName"
		android:icon="@mipmap/ic_launcher"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="false"
		android:theme="@style/AppTheme"
		>

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:launchMode="singleInstance"
			android:theme="@style/SplashTheme"
			android:screenOrientation="portrait"
			tools:ignore="DiscouragedApi,LockedOrientationActivity"
			>

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<!-- Playback Service -->
		<service
			android:name="com.minimalist.music.player.PlaybackManager"
			android:stopWithTask="true"
			android:exported="false"
			android:foregroundServiceType="mediaPlayback"
			/>

		<!-- For the life of me I can't know why registering this receiver dynamically doesn't work!!! -->
		<receiver android:name="com.minimalist.music.player.MediaNotificationManager$NotificationActionHandler" />

	</application>

</manifest>
