music-explorer {
	opacity: 0;
	transition: opacity .4s;
}

/* curtain */
.explorer-container::after {
	content: '';
	position: absolute;
	inset: 0 0 auto;
	height: calc(var(--inset-top, 0px) + 24px);
	background: var(--background);
	pointer-events: none;
}

.explorer {
	position: fixed;
	inset: calc(var(--inset-top, 0px) + 24px) 0 calc(var(--inset-bottom, 0px) + 64px);
	padding: 56px 0 112px;
	display: flex;
	flex-direction: column;
	opacity: 0;
	transition: scale .3s, opacity .2s;
	overflow: auto;
	pointer-events: none;

	&.out { scale: 1.1; }
	&.in { scale: .9; }
	&.current {
		opacity: 1;
		scale: 1;
		pointer-events: all; /* only the active is clickable (others can be in front but transparent) */
	}
}

.explorer button {
	position: relative;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	padding: 14px 20px;
	text-align: start;
	transition: .2s, color .5s, background .8s;
	overflow: hidden;

	&[type="dir"], &.playlist, .ic-mark { color: var(--foreground); }

	span {
		flex-grow: 1;
		max-width: calc(100% - 56px);
		overflow-wrap: break-word;
	}
	i { font-size: 20px; }
	.ic-dir, .ic-music-note { margin-inline: 8px 16px; }
	.ic-mark { margin-inline-end: 8px; }

	/* SELECTION */
	.selection {
		position: absolute;
		inset: 4px 12px;
		border-radius: 12px;
		background: var(--selection-background);
		opacity: 0;
		transition: opacity .5s;
		z-index: -1;
	}
	&.selected .selection { opacity: 1; }

	.ic-mark {
		opacity: 0;
		transition: .2s;
	}
	&.marked .ic-mark { opacity: 1; }

	/* SEARCH */
	&.hidden {
		height: 0;
		padding: 0 20px;
		opacity: 0;
	}
}